/* nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
/* montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital@0;1&display=swap');


*{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", serif;
}
p{
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

body{
  font-family: "Nunito", serif;
  background-color: #6c757d;
}

/* navigation */
nav.r-nav{
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav .navbar-brand{
  font-size: 30px;
  color: #fff;
}

nav .navbar-nav li a{
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

nav .navbar-nav li{
  margin-left: 15px;
}

nav.r-nav.stickyadd{
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0,0,0,0.05);
  transition: .5s all ease-in-out;
  color: black;
}
nav.stickyadd .navbar-brand{
  color: #000;
  font-size: 40px;
  transition: .5s all;
}
nav.stickyadd .navbar-nav .nav-link{
  color: #000 !important;
}
.navbar .hamburger{
  color: #fff !important;
}

nav.stickyadd .hamburger{
  color: #000;
}

/* header section */
header{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/banner/parallax.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box{
  max-width: 700px;
  color: #fff;
}
.content-box h4{
  font-size: 30px;
}
.content-box h1{
  font-size: 52px;
}
.content-box a{
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
  transition: .5s all;
}
.content-box a:hover{
  color: #000;
  background: #fff;
}
.content-box p{
  color: #fff;
}


/* footer-area */
.footer-area{
  margin-top: 600px;
}