/* nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
/* montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital@0;1&display=swap');


*{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", serif;
}
p{
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

body{
  font-family: "Nunito", serif;
}

/* navigation */
/* .scrolled{
  background: green;
  transition: background 1s;
} */
nav.r-nav{
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav .navbar-brand{
  font-size: 30px;
  color: #fff;
}

nav .navbar-nav li a{
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

nav .navbar-nav li{
  margin-left: 15px;
}

nav.r-nav.stickyadd{
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0,0,0,0.05);
  transition: .5s all ease-in-out;
  color: black;
}
nav.stickyadd .navbar-brand{
  color: #000;
  font-size: 40px;
  transition: .5s all;
}
nav.stickyadd .navbar-nav .nav-link{
  color: #000 !important;
}
.navbar .hamburger{
  color: #fff !important;
}

nav.stickyadd .hamburger{
  color: #000 !important;
}

/* header section */
header{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/banner/parallax.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box{
  max-width: 700px;
  color: #fff;
}
.content-box h4{
  font-size: 30px;
}
.content-box h1{
  font-size: 52px;
}
.content-box a{
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
  transition: .5s all;
}
.content-box a:hover{
  color: #000;
  background: #fff;
}
.content-box p{
  color: #fff;
}
.content-box .element{
  color: green;
}
/* card section */
.card-section, .barchat-section, .count-section, .slider-section, .footer-section{
  margin-top: 50px;
}
.card{
  box-shadow: 3px 4px 10px black;
  /* height: 350px; */
  width: 100%;
  padding: 15px;
}
.icon{
  font-size: 1.4rem;
  border: 1px solid green;
  border-radius: 50%;
  font-weight: 600;
  padding: 10px;
  color: green;
}
.web{
  text-align: center;
  color: green;
  font-size: 1.4rem;
}
.text{
  color: gray;
  text-align: justify;
  padding: 10px;
}
/* batchart section */

.input{
width: 90%;
padding: 10px;
margin-bottom: 10px;
}
.sec-title{
  font-size: 50px;
  font-weight: 600;
  color: green;
}
.fas{
  color: green;
  margin-left: 20px;
}

/* count section */
.bg-black{
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('../img/banner/1.jpg');
}
.main-title{
  margin-top: 14rem;
}
.client{
  font-size: 2rem;
}

/* slider section */
.slider-card{
  width: 300px;
  background: #fff;
  box-shadow: 2px 4px 5px black;
  padding: 15px;
  text-align: center;
}
.slider-card:hover{
  border: 2px solid green;
  background: #ecedee;
}
.slider-card img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 150px;
}
.slider-card h1{
  color: green;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.slider-card p{
  color: #6c757d;
}

/* footer section */
footer{
  background: #000;
  color: #fff;
  padding: 50px 0 30px 0;
}

/* animate section */
.part-one, .part-two, .part-three, .barchates, 
.barchat-one{
  opacity: 0;
}
.part-one.animated, .part-two.animated, .part-three.animated, .barchates.animated, .barchat-one.animated{
  opacity: 1;
}
